body{
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    background-color: rgb(0, 0, 0);
}

ul{
    list-style-type:none;
    padding: 0px;
    margin: 0px;
    background-color: brown;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0px;
}
ul li a{
    color: white;
    display: block;
    padding:20px;
    text-decoration: none;
}
ul li a:hover{
    background-color: white;
    color: black;
}
div{
    color: white;
    padding-left: 310px;
    text-align: justify;
}